@page "/login"

<h1>Login</h1>

<EditForm Model="@UserCredentials"
          OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">

        <label for="userName" class="col-sm-3">Username:</label>
        <InputText id="userName" class="form-control col-sm-8"
                   @bind-Value="@UserCredentials.UserName" />

        <label for="userPassword" class="col-sm-3">Password: </label>
        <InputText id="userPassword" class="form-control col-sm-8"
                   @bind-Value="@UserCredentials.Password" />
    </div>

    <button type="submit" class="btn btn-primary edit-btn">Login</button>
</EditForm>

